* {
	box-sizing: border-box;
}

body {
	/*Hey whatcha doin here?*/
	/*- .-. --- -. -- -.-. .-.-.- -.-. --- -- -..-. -.- --- .-. -... ... .-.-.- .... - -- .-..*/
	/*Hmm??? I wonder what that is?*/
	background: linear-gradient(rgba(20, 26, 35,0.55),rgba(20, 26, 35, 0.55)),
				url("snow.gif") no-repeat center center fixed;
	background-size: 100% 50%;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	position: relative;
    background-position: top;
}

html, body {
	width: 100vw;
	height: 100vh;
        height: auto;
	
	display: -ms-flexbox;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        
	
}
html {
     overflow-x:hidden;
     scroll-behavior: smooth;
}
.giveaway-box {
    display: grid;
    grid-template-columns: 2000px;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}		
.giveaway-terms {
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
h1, h2 {
    color: white;
}
p {
    color: black;
    font-size: 18px;
    margin-left: 600px;
    margin-right: 600px;
}
footer {
    background: #222;
    color: white;
    padding: 20px 20px;
    position:relative;bottom:0;left:0;right:0;height:10px;
}
    html, body {
       overflow-x:hidden;
       height: auto;
}
.copyright {
    font-weight: bold;
    color: white;
    font-size: 20px;
    position: relative;	
    top: -31px;
    text-align: center;
}
.logo img {
    -webkit-animation-name: logo;
    animation-name: logo;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
@-webkit-keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@media screen and (max-width: 600px) {
    .logo img {
       width: 350px;
	}
    .copyright {
       top: -12px;
       font-size: 18px;
    }
    .giveaway-box {
       grid-template-columns: 350px;
    }
    footer {
       max-width: 435px;
       position:relative;bottom:0;left:0;right:0;height:10px;
    }
    p {
       margin: 0;
    }
    html, body {
       overflow-x:hidden;
       height: auto;
    }
    body {
        background-size: cover;
        background-position: unset;
    }
}